*{
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.5;
	
}

i{
	color: ;
}
img{
	display:inline-block;
	max-width:100%;
}
a{
	color: #444;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
p{
	color:#444;

}
li{
	list-style:none;
}
ul{
	padding-left:0px;
	margin-bottom:0px;
}
h1,h2,h3,h4,h5,h6{
	padding:10px 0px;
	margin:0px;
	line-height:1.4;
	font-weight:bold;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
	font-size:inherit;
	color:inherit;
	font-weight:inherit;
	line-height:inherit;
	text-transform:inherit;
}
.btn{
	background-color: #1992e7;
}
section{
	padding-bottom: 80px;
}
.btn-primary{
	border-radius: 0;
}
/*---- 02. Basic elements ----*/

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	height: 5000px;
}

/*====================
Header Section
======================*/
.header{
	z-index: 9999;
	height: auto;
	background-color: #FFF;
}
.logo{
	display: inline-block;
	padding: 10px 0;

}
.logo img{
	width: 80%;
	height: 100%;
}
.toggle{
	display: none;
}
.navigation-bar{
	float: right;
}
.navigation-bar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation-bar ul li{
	float: left;
}
.navigation-bar ul li#current{
	color: #1992e7 !important;
}

.navigation-bar ul li a{
	display: block;
	text-align: center;
	padding: 30px 16px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	color: inherit;

}
.navigation-bar ul li a:hover{
	color: #1992e7;
}
.nav-placeholder{
	margin: 0;
}
.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	transition: .5s;
	
}

/*========== Slider ===========*/

.item img{
	width: 100%;
	height: 100vh;  
	opacity: .8;
}
.zoom-effect{
	position: relative;
	overflow: hidden;
}
.zoom-effect img{
	-webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
	animation: zoom 20s linear infinite;

}
/* Standard syntax */
@keyframes zoom {
	from {
		transform: scale(1,1);

	}
	to {
		transform: scale(1.5,1.5);
		background-size: cover;

	}
}

.sleft{
	position: absolute;
	top: 27%;
	left: 8%;
	width: 43%;
	background-color: transparent;
	float: left;
}
.sleft h1{
	width: 100%;
	font-size: 35px;
	background-color: transparent;
	line-height: 35px;
	padding-bottom: 20px;
	text-align: justify;
}
.sleft p{
	background-color: transparent;
	color: #000000;
	text-align: justify;
	padding-bottom: 15px;
	font-size: 18px;
}
.learn-more{
	background-color: #1992e7;
	transition: .5s;
	width: 30%;
	border-radius: 20px;
	padding: 5px;
	color: #000000;

}
.learn-more:hover{
	background-color: transparent;
	transition: .5s;
}
.hire-now{
	background-color: transparent;
	transition: .5s;
	width: 30%;
	border-radius: 0;
	padding: 5px;
	margin-left: 20px; 
	border-radius: 20px;
	color: #000000;

}
.hire-now:hover{
	background-color: #1992e7;
	transition: .5s;
	
}
.sright{
	position: absolute;
	top: 0%;
	right: -5%;
	width: 48%;
	bottom: 0;
	background-color: #1992e7;
	float: right;
	
}
.sright img{
	height: ;
	width: 700px !important;
	margin: 0 auto;
	z-index: 9999;
	background-attachment: fixed;

}

/*======= About ========*/
.colortitle{
	color: #1992e7;
}
.aleft p{
	text-align: justify;
}
.aleft-btn{
	width: 30%;
	border-radius: 20px;
	font-size: 20px;
	padding: 5px;
}
.video-icon{
	margin-top: 67px;
    margin-left: 120px;
    background-image: url(../images/slider/2.jpg);
    background-size: cover;
    height: 100%;
    width: 80%;
    position: relative;
}
.youtube-video{
	z-index: 9999;
}
.video-icon i {
       font-size: 40px;
    position: absolute;
    top: 40%;
    left: 45%;
    color: #1992e7;
    display: inline-block;
    width: 16%;
    height: 19%;
    text-align: center;
    padding-top: 14px;
    border-radius: 34px;
    padding-left: 10px;
    background-color: #fff;
}
.project-plan{
	padding-top: 100px;
	text-align: center;
}
.project-plan i{
	font-size: 50px;
	color: #fff;
	padding-bottom: 10px;
	width: 30%;
	height: 30%;
	background-color: #1992e7;
	border-radius: 100px;
	padding: 25px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;

}
.project-plan h5{
	padding: 10px;
	font-weight: 300;
}
.project-plan p{
	font-size: 17px;
}

/*=======service area======*/
.service-area{
	background-color: #EBEBEB;
	padding: 100px 0;
}
.lservice{
	padding: 10px; 
}
.lservice h2{
	padding-top: 10px;
	font-size: 60px;
	line-height: 70px;
	padding-right: 3px;
}
.rservice{
	padding: 10px; 
}
.lservice-box i{
	    font-size: 50px;
    color: #fff;
    text-align: center !important;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #1992e7;
    line-height: 100px;
    margin: 5px 0;
}

.lservice-box h5{
	padding: 20px 10px 5px 0;
	font-size: 25px;
	font-weight: 300;
	text-align: justify;
}
.lservice-box p{
	text-align: left;
}
.lservice-more p a{
	font-size: 30px;
	color: #1992e7;
}

/*====== pricing =======*/
section.pricing {
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

/*========Counter==========*/
.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
/*Testmonial*/
.testmonial{
	padding-top: 30px;
}
.orange-text i{
	color: orange;
}
.blue-text{
	color: #1992e7;
}
/*portfolio*/


#portfolio p {
	color: grey;
	font-size: 12px;
	font-weight: 200;
}

.content {
	width: 100%;
	margin: 0 8%;
	padding: 0px;
	text-align: center;
}

.single-content img {
	width: 290px;
	height: 100%;
	margin: 10px;
}

.filters {
	width: 100%;
	text-align: center;
}

.filters ul {
	list-style: none;
	padding: 20px 0;
}

.filters li {
	display: inline;
	padding: 10px 25px;
	font-size: 14px;
	color: #636363;
	font-weight: 400;
	cursor: pointer;
  	text-transform: uppercase;
  	letter-spacing: .2em;
}

.filters li:hover {
	color: #a6a6a6;
}

.filters li.active {
	color: #ccc;
	border: 1px solid #ccc;
	border-radius: 15px;
}

/*footer*/
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#1992e7; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#fff; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#fff;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}